body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    
    
}

.pc .slikaHeaderSve .slikaHeader{
    width:100vw;
    display:flex;
    overflow:hidden;
}

.pc .slikaHeaderSve .dani{
    font-size:1vw;
}
.pc .slikaHeaderSve .naslovHeader{
    position:absolute;
    top:0;
    left:5vw;
    color:rgb(226, 210, 68);
}

.pc .slikaHeaderSve .naslovHeader p{
    font-family:Reggae One;
    font-size:3vw;
    
}

.pc .slikaHeaderSve .naslovHeader #katananaslov{
    width:10em;
    position:absolute;
    top:5em;
    left:41vw;
    transform:rotate(45deg);
}

.pc .slikaHeaderSve .naslovHeader #baloni{
    width:10em;
    position:absolute;
    top:1em;
    left:32vw;
}



.pc .slikaHeaderSve .naslovTajmer {
    width:36vw;
    height:8vw;
    position:absolute;
    top:1.4vw;
    left:58vw;
    display:flex;
    
    justify-content: space-between;
    align-items: center;
}

.pc .slikaHeaderSve .naslovTajmer .dani{
    width:8vw;
    height:8vw;
    background-color:black;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: space-around;

}

.pc .slikaHeaderSve .naslovTajmer .dani p{
    color:white;
    font-family: Reggae One;
    font-size:1.2em;
    
}

.pc .header{
    background-color:black;
    width:100vw;
    height:4vw;
    position:sticky;
    top:0;
    z-index:5;
    display:flex;

}
.pc .header a:nth-child(1){
    padding-left:38vw;
    
}

.pc .header a{ 
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-family:Reggae One;
    padding-left:4vw;
    padding-top:1.3vw;
    
}

.pc .header a:hover{
    color:rgb(97, 1, 1);
    
    
}

.pc .header img{
    width:2vw;
    color:white;
    position:absolute;
    right:5vw;
    top:1vw;
    cursor:pointer;
}

.pc .header #cijenaCart{
    color:rgb(97, 1, 1);
    position:absolute;
    
    right:9vw;
    top:.5vw;
    font-family: Reggae One;
    font-weight:bold;
    cursor:pointer;
}

.pc .kategorije{
    display:flex;
    justify-content: center;
    align-items:center;

}

.pc .kategorije .linija{
    width:20vw;
    height:.1vw;
    background-color:white;
    margin-left:2vw;
    margin-right:2vw;
}

.pc .kategorije p{
    color:white;
    font-family:Reggae One;
    font-size:1.2vw;
}

.pc .background{
    position:fixed;
    
    z-index:-1;
    
    
}

.pc .background img{
    width:100vw;
    
}

.pc .slajder{
    background-color:black;
    display:flex;
    width:61.6vw;
    overflow: hidden;
    align-items:center;
    height:16vw;
    margin-left:19vw;
    
}

.pc .slajder .slide img{
    height:15vw;
}
.pc .slajder .slide{
    padding-left:.4vw;
    transform:translate(-300%);
    transition:1s;
}

.pc .strelicaSlajd img{
    width:3vw;
    
}

.pc .strelicaSlajd{
    position:absolute;
}

.pc .strelicaSlajd .livo img{
    transform:translate(14vw,7vw) rotate(90deg) ;
}

.pc .strelicaSlajd .desno img{
    transform:translate(83vw,4vw) rotate(270deg) ;
}

.pc .slajder .slide .slidecrno{
    display:none;
    position:absolute;
    background-color:black;
    opacity: 0.8;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    width:20vw;
    height:15.3vw;
    left:0;
   
}

.pc .slajder .slide  .slideopis p:nth-child(1) {
    
    color:rgb(97, 1, 1);
    font-family: Reggae One;
    font-weight:bold;
    padding-left:3vw;
    position:absolute;
    padding-top:1vw;
    font-size:1.2vw;
    
}

.pc .slajder .slide  .slideopis p:nth-child(2)  {
    
    color:rgb(255, 255, 255);
    font-family: Reggae One;
    font-weight:bold;
    padding-left:3vw;
    position:absolute;
    padding-top:4vw;
    
}

.pc .slajder .slide  .slideopis{
    display:none;
}

.pc .noveKatane{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:3vw;


}

.pc .noveKatane .linija{
    width:20vw;
    height:.1vw;
    background-color:white;
    margin-left:2vw;
    margin-right:2vw;
}

.pc .noveKatane p{
    color:white;
    font-size:1.2vw;
    font-family:Reggae One;
}


.pc .pcCrniDioNovi{
    width:68vw;
    background-color:black;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    
    flex-wrap:wrap;
}



.pc .pcCrniDioNovi .element{
    padding:.5vw;
    width:16vw;
    font-size:1vw;
    
}



.pc .pcCrniDioNovi .element .slikaElementa img {
    z-index:1;
    width:16vw;
    
}
.pc .pcCrniDioNovi .element .animacijaElementa{
    background-color:rgb(97, 1, 1);
    margin-top:-3.7vw;
    z-index:100;
    position:absolute;
    width:16vw;
    display:none;
    color:white;
    font-family:Reggae One;
    text-align:center;
}

.pc .pcCrniDioNovi .element .opisElementa{
    color:white;
    font-family: Reggae One;
}

.pc .pcCrniDioNovi .element .cijenaElementa{
    color:white;
    font-family: Reggae One;
    font-weight:bold;
}

.pc .pcCrniDioNovi .element .dugmeKupide{
    color:white;
    background-color:rgb(97, 1, 1);
    text-align:center;
    width:10vw;  
    font-family: Reggae One;
    cursor:pointer;
}

/* poravnanje dugmeta na nekim elementima  */ 
.pc .pcCrniDioNovi .element:nth-child(1) .dugmeKupide{
    margin-top:2.4vw;
}
.pc .pcCrniDioNovi .element:nth-child(4) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(5) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(6) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(8) .dugmeKupide{
    margin-top:2.2vw;
}

.pc .pcCrniDioNovi .element:nth-child(9) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(11) .dugmeKupide{
    margin-top:1vw;
}

.pc .pcCrniDioNovi .element:nth-child(12) .dugmeKupide{
    margin-top:2.4vw;
}


.pc .pcCrniDioNovi .element .dugmeKupide p{
    padding:.5vw;
}

@keyframes stvoriElement{
    0%{opacity: 0;}
    1%{transform:translate(0,3em)}
    99%{opacity:1;}
    100%{transform:translate(0,0em)}

}

@keyframes brisiElement{
    0%{opacity:1};
    100%{opacity:0};
}

@keyframes bojanjeDugme{
    0%{background-color:rgb(97, 1, 1)}
    100%{background-color:#E9E9E9}
}

@keyframes bojanjeDugmeR{  
    0%{background-color:#E9E9E9}
    100%{background-color:rgb(97, 1, 1)}
}

@keyframes bojanjeCart{
    0%{color:#E9E9E9}
    100%{color:rgb(97, 1, 1)}
}

@keyframes bojanjeCartR{
    0%{color:rgb(97, 1, 1)}
    100%{color:#E9E9E9}
}

.pc .exploreShopDugme{
    width:70vw;
    height:3vw;
    background-color: rgb(97, 1, 1);
    margin-left:auto;
    margin-right:auto;
    border-radius:2vw;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:2vw;
    cursor:pointer;
}

.pc .exploreShopDugme:hover{
    
    background-color:rgb(112, 0, 0);
}

.pc .exploreShopDugme p{
    font-family: Reggae One;
    color:White;
    font-size: 1vw;
}

.pc .whyUs{
    width:70vw;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
}

.pc .whyUs p{
    color:white;
    font-family: Reggae One;
    font-size: 1vw;
    padding:1vw;
}

.pc .whyUs .slikeWhyUs{
    display:flex;
    justify-content: space-around;
    padding-left:2vw;
    padding-right:2vw;

}

.pc .whyUs .slikeWhyUs img{
    width:20vw;
    height:13vw;
}
.pc .whyUs .slikeWhyUs .slikaOpis{
    margin-top:2vw;
    width:20vw;
   
}

.pc .whyUs .slikeWhyUs .slikaOpis p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
    position:relative;
    text-align: center;

}



.pc .whyUs .slikeWhyUs .slikaOpis h2{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
    text-align: center;
}

@keyframes pomakniGore{
    0%{transform:translate(0,0vw)}
    100%{transform:translate(0vw,-1vw)}
}

@keyframes pomakniDole{
    0%{transform:translate(0,-1vw)}
    100%{transform:translate(0,0vw)}
}

.pc .whyUs .review {
    display:flex;
    margin-top:2vw;
}

.pc .whyUs .review .reviews .stars{
    display:Flex;
    justify-content: center;
}
.pc .whyUs .review .reviews .stars .star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color:red;
    width:1vw;
    height:1vw;
}

.pc .whyUs .review .reviews{
    text-align: center;
    font-family: Reggae One;
    color:white;
}

.pc .whyUs .whatToExpect #pWhatToExpect{
    padding-left:5vw;
    padding-right:5vw;
    margin-top:-.5vw;
}

.pc .whyUs .listaOcekivanja{
    display:flex;
    
}

.pc .whyUs .listaOcekivanja .noveKatane{
    width:35vw;
}

.pc .whyUs .listaOcekivanja .noveKatane .linija{
    width:6vw;
}

.pc .footer{
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:5vw;
    margin-top:1vw;
    color:white;
    font-family: Reggae One;
}

.pc .pcCartBar{
    
    border:30px solid transparent;
    border-image: url("/images/test.png") 1 500 round; /* ovo triba neko objasnit nemam pojma kako radi ali je ok sad ovako*/
    width:20vw;
    height:30vw;
    background-color: black;
    position:absolute;
    right:1vw;
    top:4vw;
    display:none;
    
    z-index:5;
    
}

.pc .pcCartBar .logoIcijena{
    display:Flex;
    align-items:center;
    
}

.pc .pcCartBar .logoIcijena h2{
    color:rgb(226, 210, 68);
    font-family: Reggae One;
    padding-left:4vw;
}



.pc .pcCartBar .logoIcijena p{
    position:absolute;
    right:3em;
    color:rgb(97, 1, 1);
    font-family: Reggae One;
    font-weight: bold;
}

.pc .pcCartBar .cartBarDugmici{
    display:flex;
    
    justify-content: space-between;
    width:20vw;
    height:2vw;
    position:absolute;
    bottom:0;
    
}

.pc .pcCartBar .cartBarDugmici .cancel{
    width:6vw;
    background-color:rgb(97, 1, 1);
    margin-left:1vw;
    border-radius:1vw;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
    
}

.pc .pcCartBar .cartBarDugmici .cancel:hover{
    background-color:rgb(128, 0, 0);
}

.pc .pcCartBar .cartBarDugmici .cancel p{
    font-family: Reggae One;
    color:white;
    
}

.pc .pcCartBar .cartBarDugmici .checkOut{
    width:6vw;
    margin-right:1vw;
    background-color:rgb(0, 126, 48);
    border-radius:1vw;
    display:flex;
    align-items:center;
    cursor:pointer;
    justify-content: center;
}

.pc .pcCartBar .cartBarDugmici .checkOut:hover{
    background-color:rgb(0, 156, 60)
}

.pc .pcCartBar .cartBarDugmici .checkOut p{
    font-family: Reggae One;
    color:white;
    
}

/* ITEMI U CARTU */


.pc .pcCartBar .listaItema{
    display:flex;
    flex-direction: column;
}

.pc .pcCartBar .listaItema .cartItem{
    display:flex;
    width:20vw;
    border-top:1px solid white;
    border-bottom:1px solid white;  
    justify-content: space-between;
    align-items: center;
    position:relative;
    
}

.pc .pcCartBar .listaItema .cartItem .cijenaModela{
    margin-right:1vw;
   
}
.pc .pcCartBar .listaItema .cartItem .cartX{
    margin-right:1vw;
}
.pc .pcCartBar .listaItema .cartItem .cartX p{
    color:rgb(128, 0, 0);
    font-size: 1.2vw;
}

.pc .pcCartBar .listaItema .cartItem .imeModela{
    margin-left:1vw;
    width:13vw;
}

.pc #addITEMS{
    text-align: center;
    color:rgb(128, 0, 0);
    
    font-family: Reggae One;
}
    



.pc .pcCartBar .listaItema .cartItem p{
    color:white;
    font-family: Reggae One;
}

@keyframes cartNestani{
    0%{transform:translate(0vw,0vw)}
    100%{transform:translate(25vw,0vw)}
}

@keyframes cartStvoriSe{
    0%{transform:translate(25vw,0vw)}
    100%{transform:translate(0vw,0vw)}
}

/* FAQ -------------------------------------------------------------------------------------------------------------

*/

.pc .faqDio{
    width:80vw;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    display:none;
}
.pc .faqDio .pitanja{
    padding-left:2vw;
    padding-right:2vw;
    cursor: pointer;
}

.pc .faqDio .pitanja:nth-child(9){
    padding-bottom:1vw;
}
.pc .faqDio .pitanja .pitanje{
    display:flex;
    align-items:center;
}
.pc .faqDio .pitanja .pitanje h2{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
}
.pc .faqDio .pitanja .pitanje img{
    width:2vw;
    height:2vw;
}
.pc .faqDio .pitanja .odgovor p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
}
.pc .faqDio .pitanja .pitanjaLinija{
    width:76vw;
    height:.1vw;
    background-color:white;
}
.pc .faqDio .pitanja .odgovor{
    display:none;
}
.pc .faqDio .pitanja .odgovor p{
    padding-left:2vw;
    padding-right:2vw;
    
}

@keyframes strelicaRotate{
    0%{transform:rotate(0deg);}
    100%{transform: rotate(180deg);}
}
@keyframes strelicaRotateR{
    0%{transform:rotate(180deg)}
    100%{transform:rotate(0deg)}
}

.pc .contactDio{
    width:80vw;
    display:none;
    flex-direction:row;
    justify-content: space-between;
    margin-left:auto;
    margin-right:auto;
    
    background-color: black;
    
    
}

.pc .contactDio .kontakt .ime p{
    font-family: Reggae One;
    font-size:1vw;
    color:white;
    padding-left:2vw;
    padding-top:1vw;
    cursor:pointer;
    
}
.pc .contactDio input{
    font-family: Reggae One;
    font-size:1vw;
    color:black;
    width:45vw;
    height:2vw;
    margin-left:2vw;
   
}
.pc .contactDio input{
    font-family: Reggae One;
    font-size:1vw;
    color:black;
    width:45vw;
    height:2vw;
    margin-left:2vw;
   
}

.pc .contactDio .inputContactMSG{
    height:8vw;
}


.pc .contactDio .vertikalnaLinija{
    width:.1vw;
    height:40vw;
    margin-left:5vw;
    background-color: white;
}

.pc .contactDio .kontaktListaItema{
    margin-left:auto;
    margin-right:auto;
    margin-top:3vw;
}
.pc .contactDio .kontaktListaItema h2{
    color:rgb(97, 1, 1);
    font-family: Reggae One;
    font-size:1vw;
}
.pc .contactDio .kontaktListaItema p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
    cursor:pointer;
}

.pc .contactDio .dugmeSend{   
    background-color:rgb(97, 1, 1);
    display:flex; 
    cursor:pointer;
    width:10vw;
    margin-left:2vw;
    margin-top:2vw;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:1vw;
    font-family: Reggae One;
}
.pc .contactDio .dugmeSend:hover{
    background-color:rgb(122, 2, 2);
}

.pc .contactDio .drustvene img{
    width:3vw;
    padding-left:1vw;
}
.pc .contactDio .drustvene img:nth-child(1){
    height:2vw;
    margin-top:.5vw;
}
.pc .contactDio .drustvene{
    display:flex;
    cursor:pointer;
}

.pc .contactDio #socialMedia{
    margin-top:2vw;
}