body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    
    
    
}
.desniBarFilter{
    display:none;
}
.fonCartBar{
    display:none;
}
.velikaSlika{
    display:none;
}
.fon{
    display:none;
}
.desnimenufon{
    display:none;
}

.pc .slikaHeaderSve .slikaHeader{
    width:100vw;
    display:flex;
    overflow:hidden;
}

.pc .slikaHeaderSve .dani{
    font-size:1vw;
}
.pc .slikaHeaderSve .naslovHeader{
    position:absolute;
    top:0;
    left:5vw;
    color:rgb(226, 210, 68);
}

.pc .slikaHeaderSve .naslovHeader p{
    font-family:Reggae One;
    font-size:3vw;
    
}

.pc .slikaHeaderSve .naslovHeader #katananaslov{
    width:10em;
    position:absolute;
    top:5em;
    left:41vw;
    transform:rotate(45deg);
}

.pc .slikaHeaderSve .naslovHeader #baloni{
    width:10em;
    position:absolute;
    top:1em;
    left:32vw;
}



.pc .slikaHeaderSve .naslovTajmer {
    width:36vw;
    height:8vw;
    position:absolute;
    top:1.4vw;
    left:58vw;
    display:flex;
    
    justify-content: space-between;
    align-items: center;
}

.pc .slikaHeaderSve .naslovTajmer .dani{
    width:8vw;
    height:8vw;
    background-color:black;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: space-around;

}

.pc .slikaHeaderSve .naslovTajmer .dani p{
    color:white;
    font-family: Reggae One;
    font-size:1.2em;
    
}

.pc .header{
    background-color:black;
    width:100vw;
    height:4vw;
    position:sticky;
    top:0;
    z-index:5;
    display:flex;

}
.pc .header a:nth-child(1){
    padding-left:38vw;
    
}

.pc .header a{ 
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size:1vw;
    font-family:Reggae One;
    padding-left:4vw;
    padding-top:1.3vw;
    
}

.pc .header a:hover{
    color:rgb(97, 1, 1);
    
    
}

.pc .header img{
    width:2vw;
    color:white;
    position:absolute;
    right:5vw;
    top:1vw;
    cursor:pointer;
}

.pc .header #cijenaCart{
    color:rgb(97, 1, 1);
    position:absolute;
    font-size:1vw;
    right:9vw;
    top:.5vw;
    font-family: Reggae One;
    font-weight:bold;
    cursor:pointer;
}

.pc .kategorije{
    display:flex;
    justify-content: center;
    align-items:center;

}

.pc .kategorije .linija{
    width:20vw;
    height:.1vw;
    background-color:white;
    margin-left:2vw;
    margin-right:2vw;
}

.pc .kategorije p{
    color:white;
    font-family:Reggae One;
    font-size:1.2vw;
}

.pc .background{
    position:fixed;
    
    z-index:-1;
    
    
}

.pc .background img{
    width:100vw;
        height:100vh;
    
}

.pc .slajder{
    background-color:black;
    display:flex;
    width:61.6vw;
    overflow: hidden;
    align-items:center;
    height:16vw;
    margin-left:19vw;
    cursor:pointer;
    
}

.pc .slajder .slide img{
    height:15vw;
}
.pc .slajder .slide{
    padding-left:.4vw;
    transform:translate(-300%);
    transition:1s;
}

.pc .strelicaSlajd img{
    width:3vw;
    
}

.pc .strelicaSlajd{
    position:absolute;
}

.pc .strelicaSlajd .livo img{
    transform:translate(14vw,7vw) rotate(90deg) ;
    cursor:pointer;
}

.pc .strelicaSlajd .desno img{
    transform:translate(83vw,4vw) rotate(270deg) ;
    cursor:pointer;
}

.pc .slajder .slide .slidecrno{
    display:none;
    position:absolute;
    background-color:black;
    opacity: 0.8;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    width:20vw;
    height:15.3vw;
    left:0;
   
}

.pc .slajder .slide  .slideopis p:nth-child(1) {
    
    color:rgb(97, 1, 1);
    font-family: Reggae One;
    font-weight:bold;
    padding-left:2vw;
    position:absolute;
    padding-top:1vw;
    font-size:1.2vw;
    
}

.pc .slajder .slide  .slideopis p:nth-child(2)  {
    
    color:rgb(255, 255, 255);
    font-family: Reggae One;
    font-weight:bold;
    padding-left:2vw;
    position:absolute;
    padding-top:4vw;
    font-size:1.2vw;
    
}

.pc .slajder .slide  .slideopis{
    display:none;
}

.pc .noveKatane{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:3vw;


}

.pc .noveKatane .linija{
    width:20vw;
    height:.1vw;
    background-color:white;
    margin-left:2vw;
    margin-right:2vw;
}

.pc .noveKatane p{
    color:white;
    font-size:1.2vw;
    font-family:Reggae One;
}


.pc .pcCrniDioNovi{
    width:68vw;
    background-color:black;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-between;
    flex-wrap:wrap;
}



.pc .pcCrniDioNovi .element{
    padding:.5vw;
    width:16vw;
    font-size:1vw;   
}

.pc .pcCrniDioNovi .element .slikaElementa img {
    z-index:1;
    width:16vw;
    cursor:pointer;
    
}
.pc .pcCrniDioNovi .element .animacijaElementa{
    background-color:rgb(97, 1, 1);
    margin-top:-3.7vw;
    z-index:100;
    position:absolute;
    width:16vw;
    display:none;
    color:white;
    font-family:Reggae One;
    text-align:center;
    cursor:pointer;
}

.pc .pcCrniDioNovi .element .opisElementa{
    color:white;
    font-family: Reggae One;
}

.pc .pcCrniDioNovi .element .cijenaElementa{
    color:white;
    font-family: Reggae One;
    font-weight:bold;
}

.pc .pcCrniDioNovi .element .dugmeKupide{
    color:white;
    background-color:rgb(97, 1, 1);
    text-align:center;
    width:10vw;  
    font-family: Reggae One;
    cursor:pointer;
}

/* poravnanje dugmeta na nekim elementima  */ 
.pc .pcCrniDioNovi .element:nth-child(1) .dugmeKupide{
    margin-top:2.4vw;
}
.pc .pcCrniDioNovi .element:nth-child(4) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(5) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(6) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(8) .dugmeKupide{
    margin-top:2.2vw;
}

.pc .pcCrniDioNovi .element:nth-child(9) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi .element:nth-child(11) .dugmeKupide{
    margin-top:1vw;
}

.pc .pcCrniDioNovi .element:nth-child(12) .dugmeKupide{
    margin-top:2.4vw;
}


.pc .pcCrniDioNovi .element .dugmeKupide p{
    padding:.5vw;
}

@keyframes stvoriElement{
    0%{opacity: 0;}
    1%{transform:translate(0,3em)}
    99%{opacity:1;}
    100%{transform:translate(0,0em)}

}

@keyframes brisiElement{
    0%{opacity:1};
    100%{opacity:0};
}

@keyframes bojanjeDugme{
    0%{background-color:rgb(97, 1, 1)}
    100%{background-color:#E9E9E9}
}

@keyframes bojanjeDugmeR{  
    0%{background-color:#E9E9E9}
    100%{background-color:rgb(97, 1, 1)}
}

@keyframes bojanjeDugme1{
    0%{background-color:rgb(97, 1, 1)}
    100%{background-color:#E9E9E9}
}

@keyframes bojanjeDugme1R{  
    0%{background-color:#E9E9E9}
    100%{background-color:rgb(97, 1, 1)}
}

@keyframes bojanjeCart{
    0%{color:#E9E9E9}
    100%{color:rgb(97, 1, 1)}
}

@keyframes bojanjeCartR{
    0%{color:rgb(97, 1, 1)}
    100%{color:#E9E9E9}
}

.pc .exploreShopDugme{
    width:70vw;
    height:3vw;
    background-color: rgb(97, 1, 1);
    margin-left:auto;
    margin-right:auto;
    border-radius:2vw;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:2vw;
    cursor:pointer;
}

.pc .exploreShopDugme:hover{
    
    background-color:rgb(112, 0, 0);
}

.pc .exploreShopDugme p{
    font-family: Reggae One;
    color:White;
    font-size: 1vw;
}

.pc .whyUs{
    width:70vw;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
}

.pc .whyUs p{
    color:white;
    font-family: Reggae One;
    font-size: 1vw;
    padding:1vw;
}

.pc .whyUs .slikeWhyUs{
    display:flex;
    justify-content: space-around;
    padding-left:2vw;
    padding-right:2vw;

}

.pc .whyUs .slikeWhyUs img{
    width:20vw;
    height:13vw;
}
.pc .whyUs .slikeWhyUs .slikaOpis{
    margin-top:2vw;
    width:20vw;
   
}

.pc .whyUs .slikeWhyUs .slikaOpis p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
    position:relative;
    text-align: center;

}



.pc .whyUs .slikeWhyUs .slikaOpis h2{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
    text-align: center;
}

@keyframes pomakniGore{
    0%{transform:translate(0,0vw)}
    100%{transform:translate(0vw,-1vw)}
}

@keyframes pomakniDole{
    0%{transform:translate(0,-1vw)}
    100%{transform:translate(0,0vw)}
}

.pc .whyUs .review {
    display:flex;
    margin-top:2vw;
}

.pc .whyUs .review .reviews .stars{
    display:Flex;
    justify-content: center;
}
.pc .whyUs .review .reviews .stars .star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color:red;
    width:1vw;
    height:1vw;
}

.pc .whyUs .review .reviews{
    text-align: center;
    font-family: Reggae One;
    color:white;
    font-size:1vw;
}

.pc .whyUs .whatToExpect #pWhatToExpect{
    padding-left:5vw;
    padding-right:5vw;
    margin-top:-.5vw;
}

.pc .whyUs .listaOcekivanja{
    display:flex;
    
}

.pc .whyUs .listaOcekivanja .noveKatane{
    width:35vw;
}

.pc .whyUs .listaOcekivanja .noveKatane .linija{
    width:6vw;
}

.pc .footer{
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:5vw;
    margin-top:1vw;
    color:white;
    font-family: Reggae One;
}

.pc .pcCartBar{
    
    border:30px solid transparent;
    border-image: url("/images/test.png") 1 500 round; /* ovo triba neko objasnit nemam pojma kako radi ali je ok sad ovako*/
    width:20vw;
    background-color: black;
    position:absolute;
    right:1vw;
    top:4vw;
    display:none;
    padding-bottom:5vw;
    z-index:5;
    
}

.pc .pcCartBar .logoIcijena{
    display:Flex;
    align-items:center;
    
}

.pc .pcCartBar .logoIcijena h2{
    color:rgb(226, 210, 68);
    font-family: Reggae One;
    padding-left:4vw;
    font-size:1.2vw;
}



.pc .pcCartBar .logoIcijena p{
    position:absolute;
    right:3em;
    color:rgb(97, 1, 1);
    font-family: Reggae One;
    font-weight: bold;
    font-size:1vw;
}

.pc .pcCartBar .cartBarDugmici{
    display:flex;
    
    justify-content: space-between;
    width:20vw;
    height:2vw;
    position:absolute;
    bottom:0;
    
}

.pc .pcCartBar .cartBarDugmici .cancel{
    width:6vw;
    background-color:rgb(97, 1, 1);
    margin-left:1vw;
    border-radius:1vw;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
    
}

.pc .pcCartBar .cartBarDugmici .cancel:hover{
    background-color:rgb(128, 0, 0);
}

.pc .pcCartBar .cartBarDugmici .cancel p{
    font-family: Reggae One;
    color:white;
    font-size:1vw;
    
}

.pc .pcCartBar .cartBarDugmici .checkOut{
    width:6vw;
    margin-right:1vw;
    background-color:rgb(0, 126, 48);
    border-radius:1vw;
    display:flex;
    align-items:center;
    cursor:pointer;
    justify-content: center;
}

.pc .pcCartBar .cartBarDugmici .checkOut:hover{
    background-color:rgb(0, 156, 60)
}

.pc .pcCartBar .cartBarDugmici .checkOut p{
    font-family: Reggae One;
    color:white;
    font-size:1vw;
    
}

/* ITEMI U CARTU */


.pc .pcCartBar .listaItema{
    display:flex;
    flex-direction: column;
}

.pc .pcCartBar .listaItema .cartItem{
    display:flex;
    width:20vw;
    border-top:1px solid white;
    border-bottom:1px solid white;  
    justify-content: space-between;
    align-items: center;
    position:relative;
    
}

.pc .pcCartBar .listaItema .cartItem .cijenaModela{
    margin-right:1vw;
    font-size:1vw;
   
}
.pc .pcCartBar .listaItema .cartItem .cartX{
    margin-right:1vw;
}
.pc .pcCartBar .listaItema .cartItem .cartX p{
    color:rgb(128, 0, 0);
    font-size: 1.2vw;
}

.pc .pcCartBar .listaItema .cartItem .imeModela{
    margin-left:1vw;
    width:13vw;
    font-size:1vw;
}

.pc #addITEMS{
    text-align: center;
    color:rgb(128, 0, 0);
    
    font-family: Reggae One;
    font-size:1vw;
}
    



.pc .pcCartBar .listaItema .cartItem p{
    color:white;
    font-family: Reggae One;
}

@keyframes cartNestani{
    0%{transform:translate(0vw,0vw)}
    100%{transform:translate(25vw,0vw)}
}

@keyframes cartStvoriSe{
    0%{transform:translate(25vw,0vw)}
    100%{transform:translate(0vw,0vw)}
}

/* FAQ -------------------------------------------------------------------------------------------------------------

*/

.pc .faqDio{
    width:80vw;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    display:none;
}
.pc .faqDio .pitanja{
    padding-left:2vw;
    padding-right:2vw;
    cursor: pointer;
}

.pc .faqDio .pitanja:nth-child(9){
    padding-bottom:1vw;
}
.pc .faqDio .pitanja .pitanje{
    display:flex;
    align-items:center;
}
.pc .faqDio .pitanja .pitanje h2{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
}
.pc .faqDio .pitanja .pitanje img{
    width:2vw;
    height:2vw;
}
.pc .faqDio .pitanja .odgovor p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
}
.pc .faqDio .pitanja .pitanjaLinija{
    width:76vw;
    height:.1vw;
    background-color:white;
}
.pc .faqDio .pitanja .pitanjaLinija1{
    width:76vw;
    height:.1vw;
    background-color:white;
}
.pc .faqDio .pitanja .odgovor{
    display:none;
}
.pc .faqDio .pitanja .odgovor p{
    padding-left:2vw;
    padding-right:2vw;
    
}

@keyframes strelicaRotate{
    0%{transform:rotate(0deg);}
    100%{transform: rotate(180deg);}
}
@keyframes strelicaRotateR{
    0%{transform:rotate(180deg)}
    100%{transform:rotate(0deg)}
}

.pc .contactDio{
    width:80vw;
    display:none;
    flex-direction:row;
    justify-content: space-between;
    margin-left:auto;
    margin-right:auto;
    
    background-color: black;
    
    
}

.pc .contactDio .kontakt .ime p{
    font-family: Reggae One;
    font-size:1vw;
    color:white;
    padding-left:2vw;
    padding-top:1vw;
    cursor:pointer;
    
}
.pc .contactDio input{
    font-family: Reggae One;
    font-size:1vw;
    color:black;
    width:45vw;
    height:2vw;
    margin-left:2vw;
   
}
.pc .contactDio input{
    font-family: Reggae One;
    font-size:1vw;
    color:black;
    width:45vw;
    height:2vw;
    margin-left:2vw;
   
}

.pc .contactDio .inputContactMSG{
    height:8vw;
}


.pc .contactDio .vertikalnaLinija{
    width:.1vw;
    height:40vw;
    margin-left:5vw;
    background-color: white;
}

.pc .contactDio .kontaktListaItema{
    margin-left:auto;
    margin-right:auto;
    margin-top:3vw;
}
.pc .contactDio .kontaktListaItema h2{
    color:rgb(97, 1, 1);
    font-family: Reggae One;
    font-size:1vw;
}
.pc .contactDio .kontaktListaItema p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
    cursor:pointer;
}

.pc .contactDio .dugmeSend{   
    background-color:rgb(97, 1, 1);
    display:flex; 
    cursor:pointer;
    width:10vw;
    margin-left:2vw;
    margin-top:2vw;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:1vw;
    font-family: Reggae One;
}
.pc .contactDio .dugmeSend:hover{
    background-color:rgb(122, 2, 2);
}

.pc .contactDio .drustvene img{
    width:3vw;
    padding-left:1vw;
}
.pc .contactDio .drustvene img:nth-child(1){
    height:2vw;
    margin-top:.5vw;
}
.pc .contactDio .drustvene{
    display:flex;
    cursor:pointer;
}

.pc .contactDio #socialMedia{
    margin-top:2vw;
}

.pc .storeDio{
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    background-color:black; 
    padding-left:2vw;
    padding-top:2vw; 
    display:none;
   
}




.pc .storeDio .inputSearch{
    display:Flex;
    align-items:center;

    
    
}
.pc .storeDio .inputSearch input{
    height:2vw;
    width:15vw;
}
.pc .storeDio .inputSearch .searchIcon{
    background-color:rgb(0, 0, 0);
}
.pc .storeDio .inputSearch .searchIcon img{
    width:3vw;
}

.pc .storeDio .filter h2{
    font-family: Reggae One;
    font-size:1vw;
    font-weight:bold;
    color:white;
}

.pc .storeDio .filter .trakaPrice{
    width:18vw;
    height:.5vw;
    background-color:rgb(184, 184, 184);
}

.pc .storeDio .filter .filterDugmeCijena{
    display:flex;
    margin-top:1vw;
    align-items: center;
    width:18vw;
    justify-content: space-between;
}

.pc .storeDio .filter .filterDugmeCijena .dugme{
    background-color:rgb(112, 0, 0);
    width:6vw;
    height:2vw;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius:1em;
}

.pc .storeDio .filter .filterDugmeCijena .dugme:hover{
    background-color:rgb(122, 0, 0);
    
}
.pc .storeDio .filter .filterDugmeCijena .dugme p{
    color:white;
    font-family: Reggae One;
    font-size:.9vw;
}
.pc .storeDio .filter .filterDugmeCijena p{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
}
.pc .storeDio .filter .filterDugmeCijena h4{
    font-family: Reggae One;
    font-size:1vw;
    font-weight:bold;
    color:rgb(112, 0, 0);
}
.pc .storeDio .filter .filterDugmeCijena .cena{
    display:flex;
    align-items: center;
}

.pc .storeDio .filter .klasaSteel{
    display:flex;
    cursor:pointer;
    justify-content: space-between;
    align-items:center;
    width:18vw;
}


.pc .storeDio .filter .klasaSteel h4{
    color:white;
    font-family: Reggae One;
    font-size:1vw;
}

.pc .storeDio .filter .klasaSteel p{
    color:grey;
    font-family:Reggae One;
    font-size:.8vw;
}

.pc .storeDio .filter .filterLinija{
    width:18vw;
    height:.1vw;
    background-color:grey;
}

.pc .storeDio .filter .dugmeTraka{
    background-color:rgb(102, 102, 102);
    position:absolute;
    transform:translateY(-.5vw);
    left:10vw;
    width:1.5vw;
    height:1.5vw;
    border-radius:50%;
}

.pc .storeDio .filter .dugmeTraka1{
    background-color:rgb(102, 102, 102);
    position:absolute;
    transform:translateY(-.5vw);
    left:28vw;
    width:1.5vw;
    height:1.5vw;
    border-radius:50%;
}

.pc .pcCrniDioNovi1{
    width:51vw;
    background-color:black;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    
    flex-wrap:wrap;
}



.pc .pcCrniDioNovi1 .element{
    padding:.5vw;
    width:16vw;
    font-size:1vw;
    
}



.pc .pcCrniDioNovi1 .element .slikaElementa img {
    z-index:1;
    width:16vw;
    cursor:pointer;
    
}
.pc .pcCrniDioNovi1 .element .animacijaElementa{
    background-color:rgb(97, 1, 1);
    margin-top:-3.7vw;
    z-index:100;
    position:absolute;
    width:16vw;
    display:none;
    color:white;
    font-family:Reggae One;
    text-align:center;
    cursor:pointer;
}

.pc .pcCrniDioNovi1 .element .opisElementa{
    color:white;
    font-family: Reggae One;
}

.pc .pcCrniDioNovi1 .element .cijenaElementa{
    color:white;
    font-family: Reggae One;
    font-weight:bold;
}

.pc .pcCrniDioNovi1 .element .dugmeKupide{
    color:white;
    background-color:rgb(97, 1, 1);
    text-align:center;
    width:10vw;  
    font-family: Reggae One;
    cursor:pointer;
}

/* poravnanje dugmeta na nekim elementima  */ 
.pc .pcCrniDioNovi1 .element:nth-child(1) .dugmeKupide{
    margin-top:2.4vw;
}
.pc .pcCrniDioNovi1 .element:nth-child(4) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi1 .element:nth-child(5) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi1 .element:nth-child(6) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi1 .element:nth-child(8) .dugmeKupide{
    margin-top:2.2vw;
}

.pc .pcCrniDioNovi1 .element:nth-child(9) .dugmeKupide{
    margin-top:2.4vw;
}

.pc .pcCrniDioNovi1 .element:nth-child(11) .dugmeKupide{
    margin-top:1vw;
}

.pc .pcCrniDioNovi1 .element:nth-child(12) .dugmeKupide{
    margin-top:2.4vw;
}


.pc .pcCrniDioNovi1 .element .dugmeKupide p{
    padding:.5vw;
}

.pc .elementDio{
    background-color:black;
    padding:2vw;
    width:70vw;
    margin-left:auto;
    margin-right:auto;
    display:none;
    color:white;
    font-family: Reggae One;
    justify-content: space-between;
}
.pc .elementDio .elementDioOpis{
    margin-left:2vw;
    margin-top:5vw;
    font-size:1vw;
   
}

.pc .elementDio #elementDioCijena{
    font-size:1.2vw;
}

.pc .slikaElementDio img{
    width:35vw;
    cursor:pointer;
}
.pc .slikaElementDio .manjeSlike img{
    width:10vw;
    margin-top:1vw;
    cursor:pointer;
}

.pc .elementDio .zoomSlika{
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    display:none;
    width:100vw;
    height:100vh;
    background-color:black;
    
}
.pc .elementDio .zoomSlika p{
    font-size:3vw;
    position:absolute;
    right:4vw;
    
}
.pc .elementDio .zoomSlika p:hover{
    
    color:rgb(112, 0, 0)
}
.pc .elementDio .zoomSlika img{
    width:55vw;
    height:70vh;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:auto;
    margin-left:auto;
    cursor:pointer;

}

.pc .elementDio .elementDioOpis .dugmeKupide5 p{
    font-size:1vw;
}

.pc .elementDio .dugmeKupide5{
    color:white;
    background-color:rgb(97, 1, 1);
    width:15vw;
    margin-top:5vw;
    height:3vw;
    align-items:center;
    display:flex;
    justify-content: center;  
    font-family: Reggae One;
    cursor:pointer;
}

.pc .elementDio .dugmeKupide5:hover{
    background-color:rgb(112, 1, 1); 

}




@media only screen and (max-width: 1400px) and (min-width:600px){ /*tablet*/
    
    .naslovHeader{
        transform:translate(0,2vw)
    }
    .slikaHeader img{
        width:100vw;
        height:15vw;
    }

    #baloni {
        display:none;
    }
    #katananaslov{
        display:none;
    }
    .naslovTajmer{
        transform:translate(0,2vw)
    }

}
@media only screen and (max-width: 600px) {
    .pc{
        display:none;
    }
    body{
        background-color: black;
    }
    .fon{
        background-color:rgb(12, 12, 12);
        width:100vw;
        height:100vh;
        display:block;
    }
    .fon .fonHeader{
        background-color:black;
        display:flex;
        justify-content: space-around;
        align-items:center;
        position:fixed;
        top:0;
        width:100vw;
        z-index:101;
    }
    .fon .fonHeader p{
        color:rgb(226, 210, 68);
        font-family: Reggae One;
        font-size:5vw;  
        font-weight:bold;
        
    }
    .fon .fonHeader img{
        width:15vw;
    }
    .fon #cijenaCartFon{
        color:rgb(97, 1, 1);
        font-size:4vw;
        font-weight:normal;
        
    }
    .fon .kategorije{
        display:flex;
        justify-content: center;
        align-items:center;
    
    }
    
    .fon .kategorije .linija{
        width:15vw;
        height:.1vw;
        background-color:white;
        margin-left:2vw;
        margin-right:2vw;
    }
    
    .fon .kategorije p{
        color:white;
        font-family:Reggae One;
        font-size:3.5vw;
    }
    /* SWIPER*/ 
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-top:7vw;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-slide img{
          width:100vw;
      }
    
    .fon .swiper-opis{
        background-color:rgb(12, 12, 12);
        color:white;
        font-family: Reggae One;
    }
    .fon .fonHome{
        background-color:rgb(12, 12, 12);
    }
    .fon .fonQuickView{
        background-color:rgb(97, 1, 1);
        width:80vw;
        margin-left:auto;
        margin-right:auto;
    }
    
    .fon .fonQuickView p{
        font-family: Reggae One;
        padding:1vw;
        color:white;
    }
    .fon .fonCrniDioNovi{
        background-color:rgb(12, 12, 12);
        
    }
    .fon .fonCrniDioNovi .element{
        display:flex;
        width:80vw;
        flex-direction: column;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:5vw;
    }
    .fon .fonCrniDioNovi .element img{
        width:80vw;
    }
    .fon .fonCrniDioNovi .element p{
        color:white;
        font-family: Reggae One;
    }
    .fonCrniDioNovi .element .dugmeKupide{
        color:white;
        background-color:rgb(97, 1, 1);
        text-align:center;
        width:50vw;
        
        margin-left:auto;
        margin-right:auto;  
        font-family: Reggae One;
        cursor:pointer;
        font-size:3vw;
        margin-bottom:5vw;
    }
    
    .whyUs{
        width:100vw;
        background-color:rgb(12, 12, 12);
    }
    
    .whyUs p{
        color:white;
        font-family: Reggae One;
        font-size: 3vw;
        padding:5vw;

    }
    
     .whyUs .slikeWhyUs{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left:2vw;
        padding-right:2vw;
        margin-left:auto;
        margin-right:auto;
    
    }
    
    .whyUs .slikeWhyUs img{
        width:90vw;
        margin-left:3vw;
        
        
    }
     .whyUs .slikeWhyUs .slikaOpis{
        margin-top:2vw;
        
       
    }
    
    .whyUs .slikeWhyUs .slikaOpis p{
        color:white;
        font-family: Reggae One;
        font-size:3vw;
        position:relative;
        text-align: center;
    }

     .whyUs .slikeWhyUs .slikaOpis h2{
        color:white;
        font-family: Reggae One;
        font-size:5vw;
        text-align: center;
    }
    
    .whyUs .review {
        display:flex;
        flex-direction: column;
        margin-top:2vw;
    }
    
    .whyUs .review .reviews .stars{
        display:Flex;
        justify-content: center;
    }
    .whyUs .review .reviews .stars .star{
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        background-color:red;
        width:5vw;
        height:5vw;
    }
    
     .whyUs .review .reviews{
        text-align: center;
        font-family: Reggae One;
        color:white;
        font-size:3vw;
    }
    
    .whyUs .whatToExpect #pWhatToExpect{
        padding-left:5vw;
        padding-right:5vw;
        margin-top:-.5vw;
    }

    .fon .footer {
        background-color:black;
    }



    /* DESNI MENU FON */ 

    @keyframes livoNestani{
        0%{transform:translate(0vw,0vw)}
        100%{transform:translate(-100vw,0vw)}
    }
    @keyframes livoStvoriSe{
        0%{transform:translate(-100vw,0vw)}
        100%{transform:translate(0vw,0vw)}
    }
    @keyframes desnoStvoriSe{
        0%{transform:translate(100vw,0vw)}
        100%{transform:translate(0vw,0vw)}
    }
    @keyframes desnoNestani{
        0%{transform:translate(0vw,0vw)}
        100%{transform:translate(100vw,0vw)}
    }
   

    .desnimenufon{
        background-color: black;
        width:80vw;
        display:none;
        position: fixed;
        top:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:80vh;
        border:10vw solid transparent;
        border-image: url("/images/test.png") 1 500 round; /* ovo triba neko objasnit nemam pojma kako radi ali je ok sad ovako*/
       
    }
    .desnimenufon p{
        color:white;
        font-family: Reggae One;
        font-size:5vw; 
    }
    .desnimenufon h2{
        color:rgb(226, 210, 68);
        font-family: Reggae One;
        font-size:9vw; 
    }

    /* FAQ FON */

    .fon .fonFAQ{
        display:none;
        background-color: rgb(12, 12, 12);
        align-items:center;
        justify-content: center;
        flex-direction: column;
        padding:5vw;
    }
    .fon .fonFAQ .faqStrelica1{
        width:8vw;
        height:8vw;
    }
    .fon .fonFAQ .pitanje h2{
        color:white;
        font-family: Reggae One;
        text-align: center;
        font-size:5vw;
    }
    .fon .fonFAQ .odgovor1{
        display:none;
    }
    .fon .fonFAQ .odgovor1 p{
        color:rgb(114, 0, 0);
        font-family: Reggae One;
        text-align: center;
        
    }
    .fon .fonFAQ .pitanje{
        display:flex;
        justify-content: center;
        align-items:center;
    }

    /* CONTACT DIO */
    .fon .fonContact{
        margin-top:20vw;
        display:none;
        width:100vw;
        height:100vh;
        background-color: rgb(12, 12, 12);
    }
    .fon .kontakt .ime p{
        font-family: Reggae One;
        font-size:5vw;
        color:white;
        text-align: center;
        padding-top:1vw;
        cursor:pointer;
        
    }
    .fon .fonContact .kontakt input{
        font-family: Reggae One;
        font-size:5vw;
        color:black;
        width:90vw;
        height:8vw;
        margin-left:4vw;
    }
    .fon .fonContact .dugmeSend{   
        background-color:rgb(97, 1, 1);
        display:flex; 
        cursor:pointer;
        width:90vw;
        border-radius:5vw;
        margin-left:auto;
        margin-top:10vw;
        margin-right:auto;
        align-items: center;
        justify-content: center;
        color:white;
        font-size:4vw;
        font-family: Reggae One;
    }
    .fon .fonContact .drustvene{
        display:flex;
        margin-top:10vw;
        justify-content: space-around;
        align-items: center;
    }
    .fon .fonContact .drustvene img{
        width:13vw;
    }
    .fon .fonContact .drustvene img:nth-child(1){
        height:10vw;
    }
    
    .fon .fonStore{
        display:none;
    }
    .fon .fonStore .fonFilter {
        width:100vw;
        height:15vw;
        margin-top:22vw;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .fon .fonStore .fonFilter p{
        color:rgb(112, 0, 0);
        font-family: Reggae One;
        font-size:5vw;
    }
    .desniBarFilter{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100vw;

    }
    .desniBarFilter .klasaSteel1{
        display:flex;
        align-items:center;
        
    }
    .desniBarFilter .klasaSteel1 h4{
        color:white;
        font-family: Reggae One;
    }
    .desniBarFilter .klasaSteel1 p{
        color:rgb(65, 65, 65);
        font-family: Reggae One;
        font-size:3vw;
        margin-left:5vw;
    }
    .desniBarFilter h1{
        color:rgb(112, 0, 0);
        font-family: Reggae One;
        margin-top:10vw;
    }

    .velikaSlika{
        display:none; 
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:5vw;
        
    }
    .velikaSlika .fonSlika img{
        width:90vw;
    }
    .velikaSlika p{
        font-size:5vw;
        font-family: Reggae One;
        color:white;
    }
    .velikaSlika .fonDugme{
        width:50vw;
        height:15vw;
        background-color: rgb(112, 0, 0);
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:2vw;
    }
    .velikaSlika #back{
        color:rgb(112, 0, 0);
        font-family: Reggae One;
    }

    .fonCartBar{
        width:100vw;
        height:100vh;
        
        position:fixed;
        display:none;
        flex-direction: column;
        align-items: center;
        
    }
    .fonCartBar .logoIcijena h2{
        color:rgb(226, 210, 68);
        font-family: Reggae One;
        font-size:7vw;
        
    }
    .fonCartBar .logoIcijena p{
        color:rgb(97, 1, 1);
        font-family: Reggae One;
        font-size:7vw;
    }
    .fonCartBar .logoIcijena{
        display:flex;
        width:100vw;
        align-items: center;
        justify-content: space-around;
    }
    .fonCartBar .cartBarDugmici {
        display:flex;
        width: 100vw;
        position:absolute;
        bottom:5vw;
        justify-content: space-around;
        align-items: center;
    }

    .fonCartBar .cancel{
        background-color:rgb(97, 1, 1);
        color:white;
        font-family: Reggae One;
        width:30vw;
        font-size:4vw;
        display: flex;
        justify-content: center;
    }
    .fonCartBar .checkOut{
        background-color:rgb(0, 126, 48);
        color:white;
        font-family: Reggae One;
        width:30vw;
        font-size:4vw;
        display: flex;
        justify-content: center;
    }

    .fonCartBar .listaItema1{
        display:flex;
        flex-direction: column;
        
        width:100vw;
        
    }
    .fonCartBar .listaItema1 .cartItem{
        display:flex;
        color:White;
        justify-content: space-around;
        margin:5vw;
        font-family: Reggae One;
        align-items: center;
    }
    .fonCartBar .listaItema1  p{
       margin-right:5vw;
    }

    .fonCartBar .listaItema1 .cartLinija{
        width:100vw;
        height:.1vw;
        background-color:White;
    }

    .fonCartBar .listaItema1 .cartX p{
        color:rgb(112, 0, 0);
        font-size:4vw;
        
    }
    
    
}

